<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
</head>
<body class="color">
    <script>
        function okno(){
        alert('Студент добавлен')
        }
    </script>
<form method="post">
    <h4>
    <label for="first_name">Имя</label>
    <input class="input_style" type="text" name='first_name' id='first_name' placeholder="Имя" required>
    
    <label for="last_name">Фамилия</label>
    <input class="input_style" type="text" name='last_name' id='last_name' placeholder="Фамилия" required><br>
    
    <label for="course">Курс</label>
    <input class="input_style" type="range" name='course' id='course' min="1" max="4" placeholder="Курс" required><br>
    <button onclick="okno()" class="registerbtn" type="submit">Зарегистрировать</button>
    </h4>
</form><br>
<h4>
    <div class="container signin">
        <p>Общий список студентов -  <a href="/students"> Перейти</a>.</p>
      </div>
</h4>
</body>
</html>
