<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
</head>
<body class="color">
<form method="post">
    <h4>
    Имя<br><input class="input_style" type="text" name='first_name' id='first_name'><br>
    Фамилия<br><input class="input_style" type="text" name='last_name' id='last_name'><br>
    Курс<br><input class="input_style" type="number" name='course' id='course'><br>
    <input class="input_button" type="submit" value="Отправить">
    </h4>
</form><br>
<h4>
<a href="/students">Перейти к списку студентов</a><br>
<a href="/">Вернуться на главную</a>
</h4>
</body>
</html>